@import "https://unpkg.com/open-props";

*{
    margin:0;
    padding: 0;
    
    font-family: 'Noto Sans', sans-serif;
}
body {
    overflow-x: hidden;
}

.header{
    min-height: 100vh;
    width:100%;
    background-image: linear-gradient(rgba(4,9,30,0.7), rgba(34, 35, 38, 0.7)), url(bgg5.jpg);
    background-position: center;
    background-size:  cover;
    position: relative;
    background-attachment: fixed;
}

nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center; /*cross axis(y) */
}

nav img{
    /* DEFAULT LOGO */
    object-fit:contain;
    vertical-align: top;
    /* height: auto;
    width: auto; */
    max-height: 50px;
    max-width: 150px;

    /* line-height: 72px;
    vertical-align: middle; */
}

.nav-links{
    flex: 1; /* occupy all space in row */
    text-align: right;
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;

}

.nav-links ul li::after{
    content: "";
    width: 0%;
    height: 2px;
    background: #b09425;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after{
    width: 100%;
}

.nav-links ul li a{
    color: white;
    text-decoration: none;
    font-size: 13px;
    
}


.text-box{
    width:90%;
    color: white;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    /* center of div */
    text-align: center;
}

.text-box h1{
    font-size: 62px;
}

.text-box p{
    margin: 10px 0 40px;
    font-size: 14px;
    color: #fff;
}

.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: white;
    border: 1px solid white;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    cursor: pointer;
    position: relative;
}

.hero-btn:hover{
    border: 1px solid rgb(255, 236, 128);
    background:rgb(204, 176, 18) ;
    transition: 0.8s;
}

nav .fa{
    display: none;
}


.company{
    width: 80%;
    margin:auto;
    text-align: center;
    padding-top:100px;
}

h1{
    font-size: 36px;
    font-weight: 600;
}

p{
    color: rgb(159, 101, 101);
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}

.row{
    margin-top:5%;
    display: flex;
    justify-content: space-between;

}

.company-col{
    flex-basis: 32%;
    background: #fff3f3;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition:0.4s;

}

.company-col:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
}

h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;

}

.media-scroller{
    width: 100%;
    --spacer: var(--size-3);
    display: grid;
    gap: var(--spacer);
    grid-auto-flow: column;
    grid-auto-columns: 21%;
    overflow-x: auto;
    overscroll-behavior-inline: contain;

    padding: 0 var(--spacer) var(--spacer);
}

.media-element{
    display: grid;
    grid-template-rows: min-content;
    gap: var(--spacer);
    padding: var(--spacer);
    background: var(--surface-2);
    border-radius: var(--radius-2);
    box-shadow: var(--shadow-1);
    transition: 0.4s;
}

.cardm{
    background-color : lawngreen;
    padding: var(--spacer);
    transition: 0.4s;
}

.cardm:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
}

.media-element:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
}




.media-element > img{
    /* width:100%; */
    inline-size: 100%;
    aspect-ratio: 10 / 12;
    object-fit: cover;
}

.snaps-inline{
    scroll-snap-type: inline mandatory;
    scroll-padding-inline: var(--spacer, 1rem);
}

.snaps-inline > *{
    scroll-snap-align: start;
}
.project{
    width: 100%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}


.layer{
    background: transparent;
    /* background: rgba(226,0,0,0.7); */
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left:0;
    transition: 0.5s;
}

.layer:hover{
    background:rgba(226,0,0,0.7);
}

.layer h3{
    width: 100%;
    font-weight: 500;
    color: white;
    font-size: 20px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    opacity: 0;
    transform: 0.7s;
}

.layer:hover h3{
    bottom: 49%;
    opacity: 1;
}



.facilities{
    width:80;
    margin: auto;
    /* flex */
    text-align: center;
    padding-top: 100px;
}

.facilities-col{
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
}

.facilities-col img{
    width: 100%;
    border-radius: 10px;
}

.facilities-col h3{
    text-align: left;
    margin-top: 16px;
    margin-bottom: 14px;
}

.facilities-col p{
    padding: 0;
}



.testimonials{
    padding-top: 100px;
    width:80%;
    margin: auto;
    text-align: center;
}

.testimonial-col{
    flex-basis:44%;
    border-radius: 10px;
    margin-bottom:5%;
    text-align:left;
    background:#fff3f3;
    padding: 25px;
    cursor:pointer;
    display:flex;
}

.testimonial-col img{
    height: 40px;
    margin-left: 5px;
    margin-right: 30px;
    border-radius: 50%;

}

.testimonial-col h3{
    margin-top: 15px;
    text-align: left;
}

.testimonial-col p{
    padding:0;

}

.testimonial-col .fa{
    color: #f44336;
}

.cta{
    margin: 100px auto;
    width:80%;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(last.jpg);
    background-size: cover;
    border-radius: 10px;
    text-align: center;
    padding:100px 0;
}

.cta h1{
    color: white;
    margin-bottom:40px;
    padding:0;
}


.footer{
    width: 100%;
    text-align: center;
    padding: 30px 0;
}

.footer h4{
    margin: 25px 0;
    font-weight: 600;

}

.icons .fa{
    color: red;
    margin: 0 13px;
    cursor: pointer;
    padding: 18px 0;

}

.fa-heart-circle-check{
    color: red;
}

/* about us----------------------------*/





.sub-header{
    height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9, 30, 0.7), rgba(4,9, 30, 0.7)), url(bg.jpg);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
    color: white;
}

.sub-header h1{
    margin-top: 100px;
}


.about-us{
    width:80%;
    text-align: center;
    margin: auto;
    padding-top: 80px;
    padding-bottom: 50px;
}

.about-col{
    flex-basis: 48%;
    padding: 30px 2px;
}

.about-col img{
    width: 100%;
}

.about-col h1{
    padding-top:0;
}

.about-col p{
    padding: 15px 0 25px;
}

.red-btn{
    border: 1px solid #f44336;
    background: transparent;
    color: #f44336;
}

.red-btn:hover{
    color: #fff;
}




.location{
    width: 80%;
    margin: auto;
    padding:80px 0;
}
.location iframe{
    width: 100%;
}
.contact-us{
    width: 80%;
    margin: auto;
}
.contact-col{
    flex-basis: 48%;
    margin-bottom: 30px;
}
.contact-col div{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}
.contact-col div .fa{
    font-size: 28px;
    color: #f44336;
    margin: 10px;
    margin-right: 30px;
}
.contact-col div p{
    padding: 0;
}
.contact-col div h5{
    font-size: 20px;
    margin-bottom: 5px;
    color:#555;
    font-weight: 400;
}
.contact-col input{
    width:100%;
    display: block;
    padding: 0.65rem 0.75rem;
    line-height: 1.25;
    margin: 0.5rem 0;
    /* margin-bottom: 2rem; */
    outline: none;
    border: 1px solid #ccc;
    box-sizing: border-box;
}


/* .contact{
    margin:auto;
    width: 80%;
    padding-top: 100px;
    padding-bottom: 90px;
}

.contact-left{
    flex-basis: 65%;
}

.contact-left img{
    width:100%;
    /* height: 100px; 

/* .contact-left h2{
    margin: 30px 0;
    color: #222;
    font-weight: 600;
}

.contact-left p{
    color: #999;
    padding: 0;
} */ 

form span{
    margin-top:0.2rem;
    display: block;
    /* position: ; */
    /* bottom: 12px;
    
    right: 17px; */
    font-size: 0.7rem;
    color: red;
}

/* .input-flex{
    display: flex;
    justify-content: space-around;
} */

form i{
    color: seagreen;
}
#submit-error{
    color:#ff0000;
}


@media(max-width: 700px){
    .text-box h1{
        font-size: 20px;
    }

    .nav-links ul li{
        /* list-style: none; */
        display: block;
        /* padding: 8px 12px;
        position: relative; */
    
    }
    .nav-links{
        position: fixed;
        background-color: #f4ce36;
        top:0;
        right:0;
        /* right:-200px; */
        height: 100vh;
        text-align:left;
        z-index: 2;

        transition:1s;
    }
    .nav-links{
        padding: 10px;
    }

    nav .fa{
        display: block;
        color: white;
        cursor: pointer;
        margin: 10px;
        font-size: 20px;
    }

    .row{
        flex-direction: column;
    }

    .testimonial-col img{
        margin-left: 0px;
        margin-right: 15px;
    
    }

    .cta h1{
        font-size: 24px;
    }


}